main {
  background-color: $primaryColor;
  margin-top: 54px;

  .container {
    height: calc(100vh - 54px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      color: #fff;
    }
  }
}