.login {
  .hero {
    background: $primaryColor;

    p {
      color: #fff;
      margin: 15px 0;
    }

    label {
      color: #fff;
    }

    a {
      color: #2b7fa3
    }

    .login-area {
      display: flex;
      margin: 0 auto;

      .email-login {
        position: relative;
        padding-right: 30px;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: 1px;
          height: 140px;
          background-color: rgba(0, 0, 0, 0.15);
        }
      }

      &>div {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      input[type="email"],
      input[type="password"] {
        width: 360px;
        display: block;
        margin: 15px 0;
      }

      .controls {
        width: 360px;
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
      }

      .btn {
        background-color: rgba(0, 0, 0, 0.24);
        display: block;
        width: 130px;
        padding: 13px 20px;
      }

      .social-button {
        width: 260px;
        height: 44px;
        color: #fff;
        font-size: 15px;
        line-height: 44px;
        display: block;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        margin-top: 15px;
        margin-left: 30px;
        cursor: pointer;

        &.facebook {
          background-color: #3b5998;

          .icon {
            img {
              width: 11px;
              margin-top: 11.75px;
            }
          }
        }

        &.google {
          background-color: #4285f4;

          .icon {
            img {
              width: 20px;
              margin-top: 12px;
            }
          }
        }

        .icon {
          width: 44px;
          height: 44px;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #fff;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .login {
    .hero {
      .login-area {
        display: block;
        .email-login {
          padding-right: 0;
          &::after {
            display: none;
          }
        }

        .social-media-login {
          margin-top: 30px;
          .social-button {
            margin: 8px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .login {
    .hero {
      .login-area {

        input[type="email"],
        input[type="password"] {
          width: 100%;
        }

        .controls,
        .social-button {
          width: 100%;
        }
        .controls {
          display: block;
          text-align: left;
          .cbx {
            margin-bottom: 10px;
          }
        }
        .btn {
          width: 100%;
        }
      }
    }
  }
}