main {
	.container {
		.card {
			background-color: #fff;
			width: 650px;
			margin: 0 auto;

			.tabs {
				margin-bottom: 15px;

				.tab {
					padding: 20px 30px;

					&:not(:last-child) {
						border-bottom: 1px solid #e5e5e5;
					}

					.tab-label {
						color: #525c74;
						font-size: 18px;
						font-weight: 700;
						display: inline-block;
						margin-left: 10px;
						text-transform: none;

						img {
							height: 24px;
							vertical-align: middle;
						}
					}

					form {
						display: flex;
						flex-wrap: wrap;

						.form-control {
							margin-right: 10px;

							&:first-child {
								width: 550px;
								margin-top: 20px;

								input {
									&::placeholder {
										font-size: 18px;
										line-height: 1;
										position: relative;
										top: 5px;
										letter-spacing: 1px;
									}
								}
							}

							&:nth-child(2) {
								width: 296px;
							}

							&:nth-child(3),
							&:last-child {
								width: 117px;
							}

							label {
								display: block;
								margin: 10px;
								text-transform: uppercase;
								font-size: 13px;
								font-weight: 700;
							}

							input[type="text"] {
								background-color: #f7f7f7;
								color: #aaa;
								margin-bottom: 15px;
								width: 100%;
								height: 44px;

								&::placeholder {
									color: #aaa;
								}
							}
						}
					}

					button {
						font-size: 13px;
						text-transform: uppercase;
						font-weight: 700;
						padding: 13px 27px;
						margin-top: 10px;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	main {
		.container {
			.card {
				width: 100%;
			}
		}
	}
}

@media (max-width: 450px) {
	main {
		.container {
			.card {
				.tabs {
					.tab {
						form {
							.form-control {

								&:first-child,
								&:nth-child(2) {
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}